.singleHero-container {
  background-color: rgb(212, 216, 206);
  height: 100%;
}

.singleHero-header {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.singleHero-header > a {
  display: flex;
  align-items: center;
}

/* SEARCH FORM BRANCO */

.singleHero-header > .search-container {
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 50vw;
}

.singleHero-header .search-form > input {
  background-color: rgb(255, 255, 255);
  color: black;
}

.singleHero-header .search-form > input::placeholder {
  color: black;
}

/* 
--- HERO ARTICLE ---
*/

.hero-section {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
}

/* HERO PORTRAIT */
.portrait-wrapper {
  grid-column-start: 9;
  grid-column-end: 12;
}

/* INFO SECTION */
.hero-info-wrapper {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
}

.info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-title > h3 {
  text-transform: uppercase;
}

.fav-icon02 {
  width: 1rem;
  align-self: center;
}

.info .hero-description {
  text-align: justify;
  font-weight: normal;
}

/* COMICS AND MOVIE DATA */
.comics-movies {
  display: flex;
  justify-content: space-between;
}

.comics-wrapper,
.movies-wrapper {
  display: flex;
  flex-direction: column;
}

.comics-wrapper,
.movies-wrapper,
.rating-wrapper,
.last-comics {
  font-weight: bold;
}

.comics-data,
.movies-data {
  margin-top: 0.5rem;
}

.comics-data > img,
.movies-data > img {
  margin-right: 0.9rem;
}

.last-releases {
  margin-top: 2rem;
  grid-column-start: 1;
  grid-column-end: 12;
}

/* COMICS GRID */
.comics-grid {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 1.5rem;
}

.comics {
  display: flex;
  flex-direction: column;
}
