/* 
--- HERO ARTICLE ---
*/
.hero-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.hero-container > img {
  border-bottom: 4px solid red;
  margin-bottom: 0.7rem;
  width: 100%;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.favorite-icon {
  width: 1.25rem;
}
