/* section */
.header,
main {
  width: 90vw;
  margin: 0 auto;
  max-width: 1500px;
}

.header {
  max-width: 1500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* HEADER */
.header > img {
  width: 40vw;
}

.header > h3 {
  text-transform: uppercase;
}

.header > p {
  font-size: 12px;
}
